*,
*::before,
*::after {
  box-sizing: border-box;
}

p, h1, h2, h3 {
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1543px;
  margin: 0 auto;
}

.header {
  display: flex;
}
.header .blacklist {
  background-image: url(../img/list.png);
  width: 758px;
  height: 190px;
  background-repeat: no-repeat;
  display: flex;
}
.header .blacklist .blacklist-logo h1 {
  font-family: Montserrat Alternates;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding-left: 190px;
  padding-top: 25px;
}
.header .blacklist .blacklist-logo h2 {
  font-family: Montserrat Alternates;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #3C57B7;
  margin: 0;
  padding-left: 262px;
}
.header .blacklist .blacklist-logo img {
  position: absolute;
  padding-left: 241px;
  padding-top: 10px;
}
.header .blacklist .blacklist-logo p {
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding-left: 205px;
}
.header .blacklist .blacklist-city {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-top: 40px;
  margin-left: 74px;
}
.header .blacklist .blacklist-city .city {
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
.header .blacklist .blacklist-city select {
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #3C57B7;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 3px;
  margin-left: -4px;
}
.header .left-menu {
  margin-left: 185px;
  margin-top: 25px;
}
.header .left-menu .menu {
  padding-left: 5px;
}
.header .left-menu .menu .nav {
  display: flex;
  padding: 0;
}
.header .left-menu .menu .nav__item {
  list-style-type: none;
  padding-right: 36px;
}
.header .left-menu .menu .nav__link {
  text-decoration: none;
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #3C57B7;
}
.header .left-menu form {
  position: relative;
  width: 322px;
  margin-left: 460px;
}
.header .left-menu form input {
  width: 322px;
  height: 37px;
  border-radius: 100px;
  border: 2px solid #3C57B7;
  outline: none;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
}
.header .left-menu form button {
  width: 54px;
  height: 37px;
  border-radius: 100px;
  position: absolute;
  right: 0;
  border: none;
  background-color: #3C57B7;
}

.section-work h1 {
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 84px;
  padding-left: 190px;
}
.section-work .work {
  background-image: url(../img/work.png);
  height: 337px;
  margin-top: -23px;
  display: flex;
  position: relative;
}
.section-work .work .num {
  width: 51px;
  height: 71px;
  border-radius: 50px;
  background-color: #000000;
  margin-top: 95px;
  margin-left: 190px;
  font-family: Montserrat Alternates;
  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FBC341;
  padding-top: 24px;
}
.section-work .work p {
  position: absolute;
  top: 110px;
  left: 262px;
  font-family: Montserrat Alternates;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}
.section-work .work span {
  font-weight: 600;
}
.section-work .work .two {
  margin-top: 151px;
  margin-left: 433px;
}
.section-work .work .three {
  margin-left: 548px;
  margin-top: 216px;
}
.section-work .work .p-two {
  top: 154px;
  left: 746px;
}
.section-work .work .p-three {
  top: 222px;
  left: 1343px;
}
.section-work .work .line2 {
  width: 176.85px;
  height: 48.42px;
  position: absolute;
  right: 605px;
  top: 167px;
}
.section-work .work .line1 {
  width: 129px;
  height: 88.42px;
  position: absolute;
  left: 542px;
  top: 108px;
}
.section-work .boss {
  background-image: url("../img/bosmain.png");
  width: 562px;
  height: 352px;
  position: absolute;
  right: 71px;
  top: 188px;
}

.section-worst {
  margin-top: 20px;
  margin-left: 17px;
}
.section-worst h1 {
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 177px;
}
.section-worst p {
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
  padding-left: 178px;
}
.section-worst .hudshie {
  position: relative;
  padding-top: 37px;
}
.section-worst .hudshie .prev1 {
  width: 23px;
  height: 23px;
  background-image: url("../img/prev.png");
  left: 145px;
  top: 155px;
}
.section-worst .hudshie .prev1::after {
  content: "f104";
  color: #F4B860;
}
.section-worst .hudshie .prev1 .fa-solid {
  color: #FFFFFF;
}
.section-worst .hudshie .next1 {
  width: 23px;
  height: 23px;
  background-image: url("../img/next.png");
  right: 145px;
  top: 155px;
}
.section-worst .hudshie .next1::after {
  content: "f104";
  color: #FFFFFF;
}
.section-worst .hudshie .next1 .fa-solid {
  color: #FFFFFF;
}
.section-worst .hudshie .worst {
  width: 1534px;
}
.section-worst .hudshie .worst .slider {
  width: 376px;
  height: 238px;
  background-color: #1B1B1B;
  border-radius: 10px;
  position: relative;
  display: flex;
}
.section-worst .hudshie .worst .slider .text-top {
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffff;
  padding-top: 15px;
  padding-left: 10px;
}
.section-worst .hudshie .worst .slider .otziv {
  width: 58px;
  height: 25px;
  background-color: #EF4040;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: 140px;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 5px;
}
.section-worst .hudshie .worst .slider .otziv .question {
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background-color: #fff;
  margin-left: 25px;
  margin-top: -17px;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0em;
  color: #8A8A8A;
  padding-top: 5px;
}
.section-worst .hudshie .worst .slider-top {
  width: 376px;
  height: 201px;
  background-color: #FBC341;
  border-radius: 10px;
  position: absolute;
  top: 40px;
}
.section-worst .hudshie .worst .slider-top .text-top {
  display: flex;
  padding-top: 5px;
  padding-left: 10px;
  align-items: center;
  margin-bottom: 15px;
}
.section-worst .hudshie .worst .slider-top .text-top .service {
  width: 89px;
  height: 27px;
  background-color: black;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  margin-left: 100px;
  padding-top: 7px;
}
.section-worst .hudshie .worst .slider-top .text-top .adres {
  font-family: Montserrat Alternates;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
}
.section-worst .hudshie .worst .slider-top .center {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 16px;
}
.section-worst .hudshie .worst .slider-top .center .img-1 {
  width: 80px;
  height: 81px;
  background-image: url(../img/klin1.png);
  border-radius: 5px;
  background-position: center;
}
.section-worst .hudshie .worst .slider-top .center .img-2 {
  width: 80px;
  height: 81px;
  background-image: url(../img/klin2.png);
  border-radius: 5px;
  background-position: center;
}
.section-worst .hudshie .worst .slider-top .center .img-3 {
  width: 80px;
  height: 81px;
  background-image: url(../img/klin3.png);
  border-radius: 5px;
  background-position: center;
}
.section-worst .hudshie .worst .slider-top .center .img-4 {
  width: 80px;
  height: 81px;
  background-image: url(../img/klin4.png);
  border-radius: 5px;
  background-position: center;
}
.section-worst .hudshie .worst .slider-top h1 {
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
}
.section-worst .hudshie .worst .slider-top .bottom {
  margin-left: 142px;
}
.section-worst .hudshie .worst .slider-top .bottom a {
  border: 2px solid;
  border-radius: 100px;
  padding: 3px 25px;
  text-decoration: none;
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}
.section-worst .hudshie .worst .slider-top .bottom .pod {
  color: #ffffff;
  background-color: #1B1B1B;
  border: none;
  padding: 6px 23px;
}
.section-worst .hudshie .worst .slider-top .bottom .ot {
  color: #1B1B1B;
}
.section-worst .hudshie .worst .rtel .otziv {
  margin-left: 63px;
}
.section-worst .hudshie .worst .rtel2 .text-top .service {
  width: 181px;
  margin-left: 120px;
}
.section-worst .hudshie .worst .rtel2 .center .img-1 {
  background-image: url("../img/tel1.png");
}
.section-worst .hudshie .worst .rtel2 .center .img-2 {
  background-image: url("../img/tel2.png");
}
.section-worst .hudshie .worst .rtel2 .center .img-3 {
  background-image: url("../img/tel3.png");
}
.section-worst .hudshie .worst .rtel2 .center .img-4 {
  background-image: url("../img/tel4.png");
}
.section-worst .hudshie .worst .rteh .otziv {
  margin-left: 163px;
}
.section-worst .hudshie .worst .rteh2 .text-top .service {
  width: 235px;
  margin-left: 65px;
}
.section-worst .hudshie .worst .rteh2 .center .img-1 {
  background-image: url("../img/rem.png");
}
.section-worst .hudshie .worst .rteh2 .center .img-2 {
  background-image: url("../img/rem2.png");
}
.section-worst .hudshie .worst .rteh2 .center .img-3 {
  background-image: url("../img/rem3.png");
}
.section-worst .hudshie .worst .rteh2 .center .img-4 {
  background-image: url("../img/rem4.png");
}
.section-worst .hudshie .worst .pc .otziv {
  margin-left: 177px;
}
.section-worst .hudshie .worst .pc2 .text-top .service {
  width: 151px;
  margin-left: 153px;
}
.section-worst .hudshie .worst .pc2 .center .img-1 {
  background-image: url("../img/rem.png");
}
.section-worst .hudshie .worst .pc2 .center .img-2 {
  background-image: url("../img/rem2.png");
}
.section-worst .hudshie .worst .pc2 .center .img-3 {
  background-image: url("../img/rem3.png");
}
.section-worst .hudshie .worst .pc2 .center .img-4 {
  background-image: url("../img/rem4.png");
}

.section-board {
  margin-top: 42px;
  margin-left: 17px;
}
.section-board h1 {
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 177px;
}
.section-board p {
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
  padding-left: 178px;
}
.section-board .hudshie {
  position: relative;
  padding-top: 37px;
}
.section-board .hudshie .prev2 {
  width: 23px;
  height: 23px;
  background-image: url("../img/prev.png");
  left: 145px;
  top: 155px;
}
.section-board .hudshie .prev2::after {
  content: "f104";
  color: #F4B860;
}
.section-board .hudshie .prev2 .fa-solid {
  color: #FFFFFF;
}
.section-board .hudshie .next2 {
  width: 23px;
  height: 23px;
  background-image: url("../img/next.png");
  right: 145px;
  top: 155px;
}
.section-board .hudshie .next2::after {
  content: "f104";
  color: #FFFFFF;
}
.section-board .hudshie .next2 .fa-solid {
  color: #FFFFFF;
}
.section-board .hudshie .board {
  width: 1534px;
}
.section-board .hudshie .board .slider {
  width: 376px;
  height: 238px;
  background-color: #1B1B1B;
  border-radius: 10px;
  position: relative;
  display: flex;
}
.section-board .hudshie .board .slider .text-top {
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffff;
  padding-top: 15px;
  padding-left: 10px;
}
.section-board .hudshie .board .slider .otziv {
  width: 58px;
  height: 25px;
  background-color: #38BB4D;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: 140px;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 5px;
}
.section-board .hudshie .board .slider .otziv .question {
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background-color: #fff;
  margin-left: 25px;
  margin-top: -17px;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0em;
  color: #8A8A8A;
  padding-top: 5px;
}
.section-board .hudshie .board .slider-top {
  width: 376px;
  height: 201px;
  background-color: #FBC341;
  border-radius: 10px;
  position: absolute;
  top: 40px;
}
.section-board .hudshie .board .slider-top .text-top {
  display: flex;
  padding-top: 5px;
  padding-left: 10px;
  align-items: center;
  margin-bottom: 15px;
}
.section-board .hudshie .board .slider-top .text-top .service {
  width: 89px;
  height: 27px;
  background-color: black;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  margin-left: 100px;
  padding-top: 7px;
}
.section-board .hudshie .board .slider-top .text-top .adres {
  font-family: Montserrat Alternates;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
}
.section-board .hudshie .board .slider-top .center {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 16px;
}
.section-board .hudshie .board .slider-top .center .img-1 {
  width: 80px;
  height: 81px;
  background-image: url(../img/klin1.png);
  border-radius: 5px;
  background-position: center;
}
.section-board .hudshie .board .slider-top .center .img-2 {
  width: 80px;
  height: 81px;
  background-image: url(../img/klin2.png);
  border-radius: 5px;
  background-position: center;
}
.section-board .hudshie .board .slider-top .center .img-3 {
  width: 80px;
  height: 81px;
  background-image: url(../img/klin3.png);
  border-radius: 5px;
  background-position: center;
}
.section-board .hudshie .board .slider-top .center .img-4 {
  width: 80px;
  height: 81px;
  background-image: url(../img/klin4.png);
  border-radius: 5px;
  background-position: center;
}
.section-board .hudshie .board .slider-top h1 {
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
}
.section-board .hudshie .board .slider-top .bottom {
  margin-left: 142px;
}
.section-board .hudshie .board .slider-top .bottom a {
  border: 2px solid;
  border-radius: 100px;
  padding: 3px 25px;
  text-decoration: none;
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}
.section-board .hudshie .board .slider-top .bottom .pod {
  color: #ffffff;
  background-color: #1B1B1B;
  border: none;
  padding: 6px 23px;
}
.section-board .hudshie .board .slider-top .bottom .ot {
  color: #1B1B1B;
}
.section-board .hudshie .board .rtel .otziv {
  margin-left: 63px;
}
.section-board .hudshie .board .rtel2 .text-top .service {
  width: 181px;
  margin-left: 120px;
}
.section-board .hudshie .board .rtel2 .center .img-1 {
  background-image: url("../img/tel1.png");
}
.section-board .hudshie .board .rtel2 .center .img-2 {
  background-image: url("../img/tel2.png");
}
.section-board .hudshie .board .rtel2 .center .img-3 {
  background-image: url("../img/tel3.png");
}
.section-board .hudshie .board .rtel2 .center .img-4 {
  background-image: url("../img/tel4.png");
}
.section-board .hudshie .board .rteh .otziv {
  margin-left: 163px;
}
.section-board .hudshie .board .rteh2 .text-top .service {
  width: 235px;
  margin-left: 65px;
}
.section-board .hudshie .board .rteh2 .center .img-1 {
  background-image: url("../img/rem.png");
}
.section-board .hudshie .board .rteh2 .center .img-2 {
  background-image: url("../img/rem2.png");
}
.section-board .hudshie .board .rteh2 .center .img-3 {
  background-image: url("../img/rem3.png");
}
.section-board .hudshie .board .rteh2 .center .img-4 {
  background-image: url("../img/rem4.png");
}
.section-board .hudshie .board .pc .otziv {
  margin-left: 177px;
}
.section-board .hudshie .board .pc2 .text-top .service {
  width: 151px;
  margin-left: 153px;
}
.section-board .hudshie .board .pc2 .center .img-1 {
  background-image: url("../img/rem.png");
}
.section-board .hudshie .board .pc2 .center .img-2 {
  background-image: url("../img/rem2.png");
}
.section-board .hudshie .board .pc2 .center .img-3 {
  background-image: url("../img/rem3.png");
}
.section-board .hudshie .board .pc2 .center .img-4 {
  background-image: url("../img/rem4.png");
}

.section-estimation {
  background-color: #F6F6F6;
}
.section-estimation .estimat {
  background-image: url(../img/kategor.png);
  width: 856px;
  height: 140px;
  background-repeat: no-repeat;
  margin-left: 72px;
  margin-top: 40px;
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 117px;
  padding-top: 21px;
}
.section-estimation .categories {
  padding-bottom: 45px;
}
.section-estimation .categories .kat {
  padding-top: 6px;
}
.section-estimation .categories .kat .kat1 .remot {
  padding-left: 40px;
}
.section-estimation .categories .kat .kat1 .beauty {
  padding-left: 73px;
}
.section-estimation .categories .kat .kat1 .technic {
  position: relative;
  padding-left: 97px;
}
.section-estimation .categories .kat .kat1 .technic h2 {
  position: absolute;
  top: -17px;
}
.section-estimation .categories .kat .kat1 .technic ul {
  padding-top: 30px;
}
.section-estimation .categories .kat .kat2 {
  margin-top: 36px;
}
.section-estimation .categories .kat .kat2 .business {
  padding-left: 40px;
}
.section-estimation .categories .kat .kat2 .it {
  padding-left: 73px;
}
.section-estimation .categories .kat .kat2 .IT {
  padding-left: 97px;
}
.section-estimation .categories .kat .kat4 {
  margin-top: 40px;
}
.section-estimation .categories .kat .kat4 .bit {
  padding-left: 40px;
}
.section-estimation .categories .kat .kat4 .food {
  padding-left: 65px;
}
.section-estimation .categories .kat .kat4 .nyni {
  padding-left: 97px;
}
.section-estimation .categories .kat1, .section-estimation .categories .kat2, .section-estimation .categories .kat3, .section-estimation .categories .kat4 {
  display: flex;
}
.section-estimation .categories .kat1 div, .section-estimation .categories .kat2 div, .section-estimation .categories .kat3 div, .section-estimation .categories .kat4 div {
  flex-basis: 25%;
}
.section-estimation .categories .kat1 div h2, .section-estimation .categories .kat2 div h2, .section-estimation .categories .kat3 div h2, .section-estimation .categories .kat4 div h2 {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.section-estimation .categories .kat1 div ul, .section-estimation .categories .kat2 div ul, .section-estimation .categories .kat3 div ul, .section-estimation .categories .kat4 div ul {
  padding: 0;
  margin: 0;
  padding-top: 12px;
  line-height: 1.4;
}
.section-estimation .categories .kat1 div li, .section-estimation .categories .kat2 div li, .section-estimation .categories .kat3 div li, .section-estimation .categories .kat4 div li {
  list-style-type: none;
}
.section-estimation .categories .kat1 div a, .section-estimation .categories .kat2 div a, .section-estimation .categories .kat3 div a, .section-estimation .categories .kat4 div a {
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #3C57B7;
}

.section-safety {
  margin-top: 34px;
  position: relative;
}
.section-safety .bos {
  background-image: url(../img/bos.png);
  width: 150px;
  height: 214px;
  position: absolute;
  top: 95px;
  left: 30px;
}
.section-safety .safety h1 {
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
.section-safety .safety h3 {
  font-family: Montserrat Alternates;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 5px;
}
.section-safety .safety .online {
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #3C57B7;
}
.section-safety .safety .safe {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}
.section-safety .safety .safe .garant, .section-safety .safety .safe .documents, .section-safety .safety .safe .organizations, .section-safety .safety .safe .commission {
  width: 376px;
  height: 111px;
  border-radius: 15px;
  background-color: #FBC341;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.section-safety .safety .garant .text-top, .section-safety .safety .documents .text-top, .section-safety .safety .organizations .text-top, .section-safety .safety .commission .text-top {
  display: flex;
  align-items: center;
  padding-top: 9px;
  padding-left: 8px;
}
.section-safety .safety .garant .text-top .circle, .section-safety .safety .documents .text-top .circle, .section-safety .safety .organizations .text-top .circle, .section-safety .safety .commission .text-top .circle {
  width: 39px;
  height: 39px;
  border-radius: 100%;
  background-color: #000000;
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
}
.section-safety .safety .garant .text-top .p, .section-safety .safety .documents .text-top .p, .section-safety .safety .organizations .text-top .p, .section-safety .safety .commission .text-top .p {
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 9px;
}
.section-safety .safety .garant p, .section-safety .safety .documents p, .section-safety .safety .organizations p, .section-safety .safety .commission p {
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 10px;
}

.section-verified {
  margin-top: 40px;
}
.section-verified .verified {
  margin-bottom: 43px;
}
.section-verified .verified select {
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
  outline: none;
}
.section-verified .verified select::-ms-expand {
  display: none;
}
.section-verified .verified select,
.section-verified .verified .select:after {
  grid-area: select;
}
.section-verified .verified .select {
  width: 418px;
  height: 43px;
  border-radius: 100px;
  border: 2px solid #000000;
  padding-left: 16px;
  padding-top: 5px;
  padding-right: 23px;
  outline: none;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}
.section-verified .verified .select:after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #000000;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
  padding-top: 5px;
}
.section-verified .verified h1 {
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 26px;
}

@media (max-width: 1280px) {
  .wrap {
    width: 1170px;
  }

  .header .blacklist {
    background-size: contain;
  }
  .header .left-menu {
    margin-left: 0;
  }
  .header .left-menu form {
    margin-left: 311px;
  }
  .header .left-menu .menu .nav__item {
    padding-right: 25px;
  }
  .header .left-menu .menu .nav__link {
    font-size: 14px;
  }

  .section-worst h1, .section-worst p {
    padding-left: 35px;
  }
  .section-worst .hudshie .worst {
    width: 1170px;
  }
  .section-worst .hudshie .next1 {
    right: 12px;
  }
  .section-worst .hudshie .prev1 {
    left: 12px;
  }

  .section-board h1, .section-board p {
    padding-left: 35px;
  }
  .section-board .hudshie .board {
    width: 1170px;
  }
  .section-board .hudshie .next2 {
    right: 12px;
  }
  .section-board .hudshie .prev2 {
    left: 12px;
  }

  .section-work h1 {
    font-size: 40px;
  }
  .section-work .work {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .section-work .work .num {
    margin-top: 111px;
    margin-left: 70px;
    width: 44px;
    height: 54px;
    padding-top: 17px;
  }
  .section-work .work p {
    top: 110px;
    left: 124px;
    font-size: 16px;
  }
  .section-work .work .two {
    margin-top: 151px;
    margin-left: 307px;
  }
  .section-work .work .p-two {
    top: 154px;
    left: 481px;
  }
  .section-work .work .line1 {
    left: 321px;
    top: 121px;
    width: 89px;
    height: 75.42px;
  }
  .section-work .work .line2 {
    right: 418px;
    top: 181px;
    width: 89px;
    height: 28px;
  }
  .section-work .work .three {
    margin-left: 360px;
    margin-top: 217px;
  }
  .section-work .work .p-three {
    top: 203px;
    left: 897px;
  }

  .section-estimation .categories .kat .kat1 .technic ul {
    padding-top: 50px;
  }

  .section-safety .bos {
    display: none;
  }
  .section-safety .safety .safe {
    flex-wrap: wrap;
  }
  .section-safety .safety .safe .documents {
    margin-top: 20px;
    margin-left: 401px;
  }
}

/*# sourceMappingURL=style.css.map */
