$blue:#3C57B7;
$orang:#FBC341;
$black:#000000;
*,
*::before,
*::after{
  box-sizing: border-box;
}
p,h1,h2,h3 {
  margin: 0;
}
body,html {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 1543px;
  margin: 0 auto;
}
.header {
  display: flex;
  .blacklist {
    background-image: url(../img/list.png);
    width: 758px;
    height: 190px;
    background-repeat: no-repeat;
    display: flex;
    .blacklist-logo{
      h1 {
        font-family: Montserrat Alternates;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        padding-left: 190px;
        padding-top: 25px;
      }
      h2 {
        font-family: Montserrat Alternates;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: #3C57B7;
        margin: 0;
        padding-left: 262px;
      }
      img {
        position: absolute;
        padding-left: 241px;
        padding-top: 10px;
      }
      p{
        font-family: Montserrat Alternates;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        padding-left: 205px;
      }
    }
    .blacklist-city {
      display: flex;
      flex-direction: column;
      width: 100px;
      margin-top: 40px;
      margin-left: 74px;
      .city {
        font-family: Montserrat Alternates;
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
      }
      select{
        font-family: Montserrat Alternates;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #3C57B7;
        background-color: transparent;
        border: none;
        outline: none;
        margin-top: 3px;
        margin-left: -4px;
      }
    }
  }
  .left-menu {
    margin-left: 185px;
    margin-top: 25px;
    .menu {
      padding-left: 5px;
      .nav {
        display: flex;
        padding: 0;
        &__item {
          list-style-type: none;
          padding-right: 36px;
        }
        &__link {
          text-decoration: none;
          font-family: Montserrat Alternates;
          font-size: 18px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: $blue;
        }
      }
    }
    form {
      position: relative;
      width: 322px;
      margin-left: 460px;
      input {
        width: 322px;
        height: 37px;
        border-radius: 100px;
        border: 2px solid $blue;
        outline: none;
        font-family: Montserrat Alternates;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 20px;
      }
      button {
        width: 54px;
        height: 37px;
        border-radius: 100px;
        position: absolute;
        right: 0;
        border: none;
        background-color: #3C57B7;
      }
    }
  }
}
.section-work {
  h1 {
    font-family: Montserrat Alternates;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 84px;
    padding-left: 190px;
  }
  .work {
    background-image: url(../img/work.png);
    height: 337px;
    margin-top: -23px;
    display: flex;
    position: relative;
    .num {
      width: 51px;
      height: 71px;
      border-radius: 50px;
      background-color: $black;
      margin-top: 95px;
      margin-left: 190px;
      font-family: Montserrat Alternates;
      font-size: 22px;
      font-weight: 900;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
      color: #FBC341;
      padding-top: 24px;
    }
    p {
      position: absolute;
      top: 110px;
      left:262px;
      font-family: Montserrat Alternates;
      font-size: 22px;
      font-weight: 400;
      line-height: 22px;
    }
    span {
      font-weight: 600;
    }
    .two {
      margin-top: 151px;
      margin-left: 433px;
    }
    .three{
      margin-left: 548px;
      margin-top: 216px;
    }
    .p-two {
      top: 154px;
      left: 746px;
    }
    .p-three {
      top: 222px;
      left: 1343px;
    }
    .line2 {
      width: 176.85px;
      height: 48.42px;
      position: absolute;
      right: 605px;
      top: 167px;
    }
    .line1 {
      width: 129px;
      height: 88.42px;
      position: absolute;
      left: 542px;
      top: 108px;
    }
  }
  .boss {
    background-image: url("../img/bosmain.png");
    width: 562px;
    height: 352px;
    position: absolute;
    right: 71px;
    top: 188px;
  }
}
.section-worst {
  margin-top: 20px;
  margin-left: 17px;

  h1{
    font-family: Montserrat Alternates;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 177px;
  }
  p{
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 10px;
    padding-left: 178px;
  }
  .hudshie {
    position: relative;
    padding-top: 37px;
    .prev1 {
      width: 23px;
      height: 23px;
      background-image: url("../img/prev.png");
      left: 145px;
      top: 155px;
      &::after {
        content: 'f104';
        color: #F4B860;
      }
      .fa-solid {
        color: #FFFFFF;
      }
    }
    .next1 {
      width: 23px;
      height: 23px;
      background-image: url("../img/next.png");
      right: 145px;
      top: 155px;;
      &::after {
        content: 'f104';
        color: #FFFFFF;
      }
      .fa-solid {
        color: #FFFFFF
      }
    }

    .worst {
      width: 1534px;
      .slider{
        width: 376px;
        height: 238px;
        background-color:#1B1B1B;
        border-radius: 10px;
        position: relative;
        display: flex;
        .text-top {
          font-family: Montserrat Alternates;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffff;
          padding-top: 15px;
          padding-left: 10px;
        }
        .otziv{
          width: 58px;
          height: 25px;
          background-color: #EF4040;
          border-radius: 100px;
          margin-top: 10px;
          margin-left: 140px;
          font-family: Montserrat Alternates;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          padding-left: 10px;
          padding-top: 5px;
          .question {
            width: 21px;
            height: 21px;
            border-radius: 100%;
            background-color: #fff;
            margin-left: 25px;
            margin-top: -17px;
            text-align: center;
            font-family: Montserrat Alternates;
            font-size: 14px;
            font-weight: 900;
            line-height: 14px;
            letter-spacing: 0em;
            color: #8A8A8A;
            padding-top: 5px;

          }
        }
      }
      .slider-top {
        width: 376px;
        height: 201px;
        background-color: $orang;
        border-radius: 10px;
        position: absolute;
        top: 40px;
        .text-top {
          display: flex;
          padding-top: 5px;
          padding-left: 10px;
          align-items: center;
          margin-bottom: 15px;
            .service {
              width: 89px;
              height: 27px;
              background-color: black;
              text-align: center;
              color: #fff;
              border-radius: 100px;
              font-family: Montserrat Alternates;
              font-size: 14px;
              font-weight: 700;
              line-height: 14px;
              letter-spacing: 0em;
              margin-left: 100px;
              padding-top: 7px;

            }
          .adres {
            font-family: Montserrat Alternates;
            font-size: 11px;
            font-weight: 500;
            line-height: 11px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
        .center {
          display: flex;
          justify-content: space-around;
          margin-top: 10px;
          margin-bottom: 16px;
          .img-1 {
            width: 80px;
            height: 81px;
            background-image: url(../img/klin1.png);
            border-radius: 5px;
            background-position: center;
          }
          .img-2 {
            width: 80px;
            height: 81px;
            background-image: url(../img/klin2.png);
            border-radius: 5px;
            background-position: center;
          }
          .img-3 {
            width: 80px;
            height: 81px;
            background-image: url(../img/klin3.png);
            border-radius: 5px;
            background-position: center;
          }
          .img-4 {
            width: 80px;
            height: 81px;
            background-image: url(../img/klin4.png);
            border-radius: 5px;
            background-position: center;
          }
        }
        h1{
          font-family: Montserrat Alternates;
          font-size: 14px;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0em;
          text-align: left;
          padding-left: 10px;
        }
        .bottom {
          margin-left: 142px;
          a{
            border: 2px solid;
            border-radius: 100px;
            padding: 3px 25px;
            text-decoration: none;
            font-family: Montserrat Alternates;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: 0em;
            text-align: center;
          }
          .pod {
            color: #ffffff;
            background-color: #1B1B1B;
            border: none;
            padding: 6px 23px;
          }
          .ot {
            color: #1B1B1B;
          }
        }
      }
      .rtel {
        .otziv {
          margin-left: 63px;
        }
      }
      .rtel2 {
        .text-top {
          .service {
            width: 181px;
            margin-left: 120px;
          }
        }
        .center {
          .img-1 {
            background-image: url("../img/tel1.png");
          }
          .img-2 {
            background-image: url("../img/tel2.png");
          }
          .img-3 {
            background-image: url("../img/tel3.png");
          }
          .img-4 {
            background-image: url("../img/tel4.png");
          }
        }
      }
      .rteh {
        .otziv {
          margin-left: 163px;
        }
      }
      .rteh2 {
        .text-top {
          .service {
            width: 235px;
            margin-left: 65px;
          }
        }
        .center {
          .img-1 {
            background-image: url("../img/rem.png");
          }
          .img-2 {
            background-image: url("../img/rem2.png");
          }
          .img-3 {
            background-image: url("../img/rem3.png");
          }
          .img-4 {
            background-image: url("../img/rem4.png");
          }
        }
      }
      .pc {
        .otziv {
          margin-left: 177px;
        }
      }
      .pc2 {
        .text-top {
          .service {
            width: 151px;
            margin-left: 153px;
          }
        }
        .center {
          .img-1 {
            background-image: url("../img/rem.png");
          }
          .img-2 {
            background-image: url("../img/rem2.png");
          }
          .img-3 {
            background-image: url("../img/rem3.png");
          }
          .img-4 {
            background-image: url("../img/rem4.png");
          }
        }
      }
    }
  }
}
.section-board {
  margin-top: 42px;
  margin-left: 17px;

  h1{
    font-family: Montserrat Alternates;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 177px;
  }
  p{
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 10px;
    padding-left: 178px;
  }
  .hudshie {
    position: relative;
    padding-top: 37px;
    .prev2 {
      width: 23px;
      height: 23px;
      background-image: url("../img/prev.png");
      left: 145px;
      top: 155px;
      &::after {
        content: 'f104';
        color: #F4B860;
      }
      .fa-solid {
        color: #FFFFFF;
      }
    }
    .next2 {
      width: 23px;
      height: 23px;
      background-image: url("../img/next.png");
      right: 145px;
      top: 155px;;

      &::after {
        content: 'f104';
        color: #FFFFFF;
      }

      .fa-solid {
        color: #FFFFFF
      }
    }
    .board {
      width: 1534px;
      .slider{
        width: 376px;
        height: 238px;
        background-color:#1B1B1B;
        border-radius: 10px;
        position: relative;
        display: flex;
        .text-top {
          font-family: Montserrat Alternates;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffff;
          padding-top: 15px;
          padding-left: 10px;
        }
        .otziv{
          width: 58px;
          height: 25px;
          background-color: #38BB4D;
          border-radius: 100px;
          margin-top: 10px;
          margin-left: 140px;
          font-family: Montserrat Alternates;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          padding-left: 10px;
          padding-top: 5px;
          .question {
            width: 21px;
            height: 21px;
            border-radius: 100%;
            background-color: #fff;
            margin-left: 25px;
            margin-top: -17px;
            text-align: center;
            font-family: Montserrat Alternates;
            font-size: 14px;
            font-weight: 900;
            line-height: 14px;
            letter-spacing: 0em;
            color: #8A8A8A;
            padding-top: 5px;

          }
        }
      }
      .slider-top {
        width: 376px;
        height: 201px;
        background-color: $orang;
        border-radius: 10px;
        position: absolute;
        top: 40px;
        .text-top {
          display: flex;
          padding-top: 5px;
          padding-left: 10px;
          align-items: center;
          margin-bottom: 15px;
          .service {
            width: 89px;
            height: 27px;
            background-color: black;
            text-align: center;
            color: #fff;
            border-radius: 100px;
            font-family: Montserrat Alternates;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            letter-spacing: 0em;
            margin-left: 100px;
            padding-top: 7px;

          }
          .adres {
            font-family: Montserrat Alternates;
            font-size: 11px;
            font-weight: 500;
            line-height: 11px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
        .center {
          display: flex;
          justify-content: space-around;
          margin-top: 10px;
          margin-bottom: 16px;
          .img-1 {
            width: 80px;
            height: 81px;
            background-image: url(../img/klin1.png);
            border-radius: 5px;
            background-position: center;
          }
          .img-2 {
            width: 80px;
            height: 81px;
            background-image: url(../img/klin2.png);
            border-radius: 5px;
            background-position: center;
          }
          .img-3 {
            width: 80px;
            height: 81px;
            background-image: url(../img/klin3.png);
            border-radius: 5px;
            background-position: center;
          }
          .img-4 {
            width: 80px;
            height: 81px;
            background-image: url(../img/klin4.png);
            border-radius: 5px;
            background-position: center;
          }
        }
        h1{
          font-family: Montserrat Alternates;
          font-size: 14px;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0em;
          text-align: left;
          padding-left: 10px;
        }
        .bottom {
          margin-left: 142px;
          a{
            border: 2px solid;
            border-radius: 100px;
            padding: 3px 25px;
            text-decoration: none;
            font-family: Montserrat Alternates;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: 0em;
            text-align: center;
          }
          .pod {
            color: #ffffff;
            background-color: #1B1B1B;
            border: none;
            padding: 6px 23px;
          }
          .ot {
            color: #1B1B1B;
          }
        }
      }
      .rtel {
        .otziv {
          margin-left: 63px;
        }
      }
      .rtel2 {
        .text-top {
          .service {
            width: 181px;
            margin-left: 120px;
          }
        }
        .center {
          .img-1 {
            background-image: url("../img/tel1.png");
          }
          .img-2 {
            background-image: url("../img/tel2.png");
          }
          .img-3 {
            background-image: url("../img/tel3.png");
          }
          .img-4 {
            background-image: url("../img/tel4.png");
          }
        }
      }
      .rteh {
        .otziv {
          margin-left: 163px;
        }
      }
      .rteh2 {
        .text-top {
          .service {
            width: 235px;
            margin-left: 65px;
          }
        }
        .center {
          .img-1 {
            background-image: url("../img/rem.png");
          }
          .img-2 {
            background-image: url("../img/rem2.png");
          }
          .img-3 {
            background-image: url("../img/rem3.png");
          }
          .img-4 {
            background-image: url("../img/rem4.png");
          }
        }
      }
      .pc {
        .otziv {
          margin-left: 177px;
        }
      }
      .pc2 {
        .text-top {
          .service {
            width: 151px;
            margin-left:153px;
          }
        }
        .center {
          .img-1 {
            background-image: url("../img/rem.png");
          }
          .img-2 {
            background-image: url("../img/rem2.png");
          }
          .img-3 {
            background-image: url("../img/rem3.png");
          }
          .img-4 {
            background-image: url("../img/rem4.png");
          }
        }
      }
    }
  }
}
.section-estimation {
  background-color: #F6F6F6;
  .estimat {
    background-image: url(../img/kategor.png);
    width: 856px;
    height: 140px;
    background-repeat: no-repeat;
    margin-left: 72px;
    margin-top: 40px;
    font-family: Montserrat Alternates;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 117px;
    padding-top: 21px;
  }
  .categories {
    padding-bottom: 45px;
    .kat {
      padding-top: 6px;
      .kat1 {
        .remot {
          padding-left: 40px;
        }
        .beauty {
          padding-left: 73px;
        }
        .technic {
          position: relative;
          padding-left: 97px;
          h2 {
            position: absolute;
            top: -17px;
          }
          ul {
            padding-top: 30px;
          }
        }
      }
      .kat2 {
        margin-top: 36px;
        .business {
          padding-left: 40px;
        }
        .it {
          padding-left: 73px;
        }
        .IT {
          padding-left: 97px;
          }
      }
      .kat4 {
        margin-top: 40px;
        .bit {
          padding-left: 40px;
        }
        .food {
          padding-left: 65px;
        }
        .nyni {
          padding-left: 97px;
        }
      }
    }
    .kat1,.kat2,.kat3,.kat4 {
    display: flex;
      div {
        flex-basis: 25%;
        h2{
          font-family: Montserrat Alternates;
          font-size: 20px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
        }
        ul {
          padding: 0;
          margin: 0;
          padding-top: 12px;
          line-height: 1.4;
        }
        li {
          list-style-type: none;
        }
        a {
          font-family: Montserrat Alternates;
          font-size: 16px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: left;
          color: $blue;
        }
      }
    }
  }
}
.section-safety {
  margin-top: 34px;
  position: relative;
  .bos {
    background-image: url(../img/bos.png);
    width: 150px;
    height: 214px;
    position: absolute;
    top: 95px;
    left: 30px;
  }
  .safety {
    h1 {
      font-family: Montserrat Alternates;
      font-size: 48px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: left;
    }
    h3 {
      font-family: Montserrat Alternates;
      font-size: 22px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      padding-top: 20px;
      padding-bottom: 5px;
    }
    .online {
      font-family: Montserrat Alternates;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: $blue;
    }

    .safe {
      display: flex;
      justify-content: space-between;
      margin-top: 31px;
      .garant, .documents, .organizations, .commission {
        width: 376px;
        height: 111px;
        border-radius: 15px;
        background-color: #FBC341;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)
      }
    }

    .garant, .documents, .organizations, .commission {
      .text-top {
        display: flex;
        align-items: center;
        padding-top: 9px;
        padding-left: 8px;
        .circle {
          width: 39px;
          height: 39px;
          border-radius: 100%;
          background-color: $black;
          font-family: Montserrat Alternates;
          font-size: 18px;
          font-weight: 900;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: center;
          color: #FFFFFF;
          padding-top: 10px;
        }

        .p {
          font-family: Montserrat Alternates;
          font-size: 18px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          padding-left: 9px;
        }
      }
      p {
        font-family: Montserrat Alternates;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 15px;
        padding-top: 10px;
        padding-right: 10px;
      }
    }
  }
}
.section-verified {
  margin-top: 40px;
  .verified {
    margin-bottom: 43px;
    select {
      font-family: Montserrat Alternates;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      border: none;
      outline: none;
      &::-ms-expand{
        display: none;
      }
    }
    select,
    .select:after {
      grid-area: select;
    }

    .select {
      width: 418px;
      height: 43px;
      border-radius: 100px;
      border: 2px solid $black;
      padding-left: 16px;
      padding-top: 5px;
      padding-right: 23px;
      outline: none;
      display: grid;
      grid-template-areas: "select";
      align-items: center;

      &:after {
        content: "";
        width: 0.8em;
        height: 0.5em;
        background-color: $black;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        justify-self: end;
        padding-top: 5px;
      }
    }
    h1{
      font-family: Montserrat Alternates;
      font-size: 48px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: left;
      padding-bottom: 26px;

    }
  }
}
@media (max-width: 1280px){
  .wrap {
    width: 1170px;
  }
  .header{
    .blacklist {
      background-size: contain;
    }
    .left-menu {
      margin-left: 0;
      form {
        margin-left: 311px;
      }
      .menu {
        .nav__item{
          padding-right: 25px;
        }
        .nav__link {
          font-size: 14px;
        }
      }
    }
  }
  .section-worst {
    h1,p {
      padding-left: 35px;
    }
    .hudshie {
      .worst{
        width: 1170px;
      }
      .next1 {
        right: 12px;
      }
      .prev1 {
        left: 12px;
      }
    }
  }
  .section-board {
    h1,p {
      padding-left: 35px;
    }
    .hudshie {
      .board{
        width: 1170px;
      }
      .next2 {
        right: 12px;
      }
      .prev2 {
        left: 12px;
      }
    }
  }
  .section-work {
    h1  {
      font-size: 40px;
    }
    .work {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      .num {
        margin-top: 111px;
        margin-left: 70px;
        width: 44px;
        height: 54px;
        padding-top: 17px;
      }
      p {
        top: 110px;
        left: 124px;
        font-size: 16px;
      }
      .two {
        margin-top: 151px;
        margin-left: 307px;
      }
      .p-two{
        top: 154px;
        left: 481px;
      }
      .line1{
        left: 321px;
        top: 121px;
        width: 89px;
        height: 75.42px;
      }
      .line2 {
        right: 418px;
        top: 181px;
        width: 89px;
        height: 28px;
      }
      .three {
        margin-left: 360px;
        margin-top: 217px;
      }
      .p-three {
        top: 203px;
        left: 897px;
      }
    }
  }
  .section-estimation {
    .categories {
      .kat {
        .kat1 {
          .technic {
            ul{
              padding-top: 50px;
            }
          }
        }
      }
    }
  }
  .section-safety {
    .bos {
      display: none;
    }
    .safety {
      .safe {
        flex-wrap: wrap;
        .documents {
          margin-top: 20px;
          margin-left: 401px;
        }
      }
    }
  }
}
